
.ipynb_checkpoints/tseries-exploration-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/generate-timeseries-checkpoint.ipynb
.ipynb_checkpoints/catchment-full_series_generation-checkpoint.py
.ipynb_checkpoints/environment-checkpoint.yml
.ipynb_checkpoints/spatial-noise-generation-checkpoint.py
